fastapi
httpx
httpx==0.27.0
passlib[bcrypt]
prometheus-client
prometheus-client==0.20.0
psycopg[binary]>=3.2
pydantic[email]
python-dotenv
python-jose[cryptography]
python-multipart
pytz
pytz==2024.1
sqlalchemy>=2.0
uvicorn[standard]
psycopg2-binary==2.9.9
